.component__carousel {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* 大屏的样式================= */

.horizontal-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.horizontal-carousel-content {
  padding: 16px;
  display: flex;
  min-width: 100%;
}

.horizontal-first {
  margin-right: 16px;
  margin-left: 30px;
  position: relative;
}

.horizontal-second {
  padding-right: 46px;
}

.horizontal-carousel-img {
  max-width: 300px;
  width: 30vw;
  min-width: 150px;
  height: 368px;
  object-fit: cover;
  border-radius: 16px;
  background-color: #b7c2f2;
}

.cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.cover-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.cover-content {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-style: italic;
}

.horizontal-item-episode {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.horizontal-item-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text);
}

.horizontal-item-quota {
  font-style: italic;
  color: #555;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  position: relative;
  padding-left: 20px;
  position: relative;
}

.horizontal-item-quota ::before {
  content: '"';
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 3rem;
  color: var(--primary);
  opacity: 0.3;
}

.horizontal-item-desc {
  color: var(--text-light);
  line-height: 1.6;
}

.horizontal-carousel-action {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
}

.horizontal-carousel-indicate {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 1;
}

.indicate-icon {
  width: 12px;
  height: 12px;
  border-radius: '50%';
}

/* 小屏的样式================= */
.vertical-wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow: hidden;
}

.vertical-carousel-content {
  display: flex;
  min-width: 100%;
}

.vertical-first {
  position: relative;
  width: 100%;
}

.vertical-carousel-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  background-color: #b7c2f2;
}

.vertical-second {
  display: none;
}

.vertical-carousel-action {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
}

.vertical-carousel-indicate {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 1;
}
